<!DOCTYPE html>
<html> 
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- <link href="/static/favicon_io/favicon.ico" rel="icon">  -->
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <script src="../static/script.js"></script>
    
    <title> What's AKW Listening To? </title>
</head>

<body>
    <script src="../static/script.js"></script>
    <div class="container">
        <div id="titlecontainer">
          <h1 style="text-align:center"></h1>
        </div>
        <div id="answer-container"></div>
    </div>
</body>
</html>

